* {
    margin: 0;
    padding: 0;
}
body{
    font-size: 12px;
    line-height: 1.7;
}
li{
    list-style: none;
}
.center{
    margin: 0 auto;
    padding: 20px;
    width: 800px;
}
.center h1 {
    color: #0088bb;
}
.center .item{
    border: 1px dotted #2b3177;
    margin-bottom: 20px;
    padding: 20px;
}

.center .item h2{
    font-size: 16pt;
    font-weight: bold;
    border-bottom: 2px solid #0088bb;
    margin-bottom: 20px;
}

.center .item li{
    display: inline;
    margin-right: 10px;
}
.center .item li a img{
    border: 1px solid rgb(24, 92, 110);
}

#menu{
    position: fixed;
    left: 50%;
    top: 100px;
    margin-left: 400px;
}

#menu ul li a{
    padding-left: 10px;
    display: block;
    font-weight: bold;
    font-size: 16px;
    margin-left: 10px;
    text-decoration: none;
    height: 50px;
    line-height: 50px;
    text-align: left;
}

#menu ul li a:hover,
#menu ul li a.active{
    color: #fff;
    background: #0088bb;
}
